* {
    font-family: 'Merriweather', serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* vs2015 theme specific*/
pre {
    background: #1E1E1E;
    color: #eee;
    padding: 0.5em !important;
    overflow-x: auto;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

pre > code {
    white-space: pre;
}


#up-button {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 47px;
    right: 41px;
    font-size: 30px;
    color: #4e4848;
    border-radius: 100%;
    border: 1px solid #4e4848;
    cursor: pointer
}

    #up-button:hover {
        color: #fff;
        background: #4e4848
    }