@using Westwind.AspNetCore.Markdown;
@model JsvBlog.Business.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row g-5">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">@Model.Title</h2>
            <p class="blog-post-meta">@Model.PubDate.ToString("dd/MM/yyyy") by <a href="https://github.com/jonathandsv">Jonathan Vieira</a></p>
            <hr>
            @Markdown.ParseHtmlStringFromUrl(Model.UrlContent)
        </article>

        <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary" href="#">Back</a>
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </nav>

    </div>

    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded d-flex flex-column align-items-center">
                <img src="https://avatars.githubusercontent.com/u/37315741?s=400&u=0c42a1a5ac64fb1b18d84cba95582d266bc7eed0&v=4" alt="Avatar" class="avatar">
                <h4>Jonathan Vieira</h4>
                <p class="mb-0">
                    Atuo como desenvolvedor de software focado principalmente com .Net, Angular, Oracle Db, SqlServer. 
                    E sempre testando tecnologias ao redor como Node, React, Elixir dentre outras.
                    Aspirante à arquiteto de software fascinado por arquiteturas que realmente resolvem problemas.
                </p>
            </div>

            <div class="p-4">
                <h4>Relevant</h4>
                <ol class="list-unstyled mb-0">
                    <li><a style="color:grey" href="/post/@Model.Slug">@Model.Title</a></li>
                </ol>
            </div>

            <div class="p-4">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a target="_blank" href="https://github.com/jonathandsv">GitHub</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/jonathan-souza-vieira/">LinkedIn</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<footer class="blog-footer">
     <div id="up-button" class="transition">
         <span class="arrow-up"></span>
     </div>
</footer>