@model List<JsvBlog.Business.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<main class="container">
    <div class="row mb-2">
        @{
            foreach (var item in Model)
            {
                <div class="col-md-12">
                    
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="card col p-4 d-flex flex-column position-static">
                            @{
                                if (item.Tags is not null && item.Tags.Count() > 0)
                                {
                                    foreach (var tag in item.Tags)
                                    {
                                        <strong class="d-inline-block mb-2 text-primary">@tag.Descricao</strong>
                                    }
                                }
                            }
                            
                            <h3 class="mb-0">@item.Title</h3>
                            
                            <p class="card-text mb-auto">@item.Content</p>
                            <a href="/post/@item.Slug" class="stretched-link">Continue reading</a>
                        </div>
                    </div>
                </div>
            }
            
        }
    </div>

</main>

<footer class="blog-footer">
    <div id="up-button" class="transition">
        <span class="arrow-up"></span>
    </div>
</footer>